/* CSS declarations go here */
table {
    margin: auto;
    font-family: arial;
}

table td {
    position: relative;
}

.field {
    height: 60px;
    width: 60px;
    background-color: lightyellow;
    overflow: hidden;
    border: 1px solid black;
}

#ui {
    text-align: center;
}

#create-btn, #join-btn, #give-up-btn {
    margin: 20px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
}

#board{
    position: absolute;
    top: 170px;
    left: calc((100% - 596px)/2);
}

.mark {
    text-align: center;
    font-size: 40px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 10px;
    left: 16px
}

.toast__message {
    overflow: visible !important;
}

.selectableField {
    text-align: center;
    height: 60px;
    width: 60px;
    padding: 0px;
    margin: 0px;
}

.alert-dialog-mask.animated{
    z-index: 1;
}

.alert-dialog.animated{
    z-index: 2;
}

.center-text{
    text-align: center;
    display: block;
}