/* CSS declarations go here */
table {
    margin: auto;
    font-family: arial;
}

table td {
    position: relative;
}

.field {
    height: 30px;
    width: 30px;
    background-color: lightyellow;
    overflow: hidden;
    border: 1px solid black;
}

#ui {
    text-align: center;
}

#create-btn, #join-btn, #give-up-btn {
    margin: 20px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
}

#board{
    position: absolute;
    top: 130px;
    left: calc((100% - 542px)/2);
}

.mark {
    text-align: center;
    font-size: 25px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 2px;
    left: 8px
}

.toast__message {
    overflow: visible !important;
}

.selectableField {
    text-align: center;
    height: 30px;
    width: 30px;
    padding: 0px;
    margin: 0px;
}

.alert-dialog-mask{
    z-index: 1;
}

.alert-dialog{
    z-index: 2;
    box-shadow: lightgrey 1px 3px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.center-text{
    text-align: center;
    display: block;
}

.field.in-active{
    background-color: gray;
}