/* CSS declarations go here */
table {
    margin: auto;
    font-family: arial;
}

table td {
    position: relative;
}

.field {
    height: 25px;
    width: 25px;
    background-color: lightyellow;
    overflow: hidden;
    border: 1px solid black;
}

.selectableField {
    text-align: center;
    height: 25px;
    width: 25px;
    padding: 0px;
    margin: 0px;
}

#ui {
    text-align: center;
}

#create-btn, #join-btn, #give-up-btn {
    margin: 20px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    text-transform: inherit;
}

#hint-div{
    text-align: center;
}

#hint-btn{
    margin: 0 auto;
}

#board{
    margin: 0 auto;
}

#div-board {
    position: absolute;
    top: 130px;
    width: 100%;
}

.mark {
    text-align: center;
    font-size: 140%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}

.mark.green{
    color: green;
}

.mark.red{
    color: red;
}

.toast__message {
    overflow: visible !important;
    text-align: center !important;
}

.alert-dialog-mask{
    z-index: 1;
}

.alert-dialog{
    z-index: 2;
    box-shadow: lightgrey 1px 3px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.center-text{
    text-align: center;
    display: block;
}

.field.in-active{
    background-color: gray;
}

#progress-bar{
    position: absolute;
    top:0;
    left: 0;
}

.highlight{
    -webkit-animation: highlight 0.5s 3; /* Safari 4.0 - 8.0 */
    animation: highlight 0.5s 3;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes highlight {
    from {background-color: red}
    to {background-color: green}
}

@keyframes highlight {
    from {background-color: red}
    to {background-color: green}
}